/* -- General Settings -- */
* {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
}

:root {
	--color-line: #222222;
	--size-line: 0.8rem;
	--font: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-size-h1: 5.2rem;
	--font-size-p: 2.8rem;
}

html {
	font-size: 62.5%; /* Equivalente a 10px*/
}

body {
	font-family: var(--font);
	background-color: #000;
}

.header-container {
	/* background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/0bd3a69d-6790-4edc-9818-1c8c558946c2/247ac585-f0a2-42fd-adde-9204d31dccee/PE-es-20220329-popsignuptwoweeks-perspective_alpha_website_large.jpg"); */
	/* background-repeat: no-repeat;
	background-size: auto; */
	position: relative;
	width: 100%;
	height: 79.4vh;
	border-bottom: var(--size-line) solid var(--color-line);
	background: rgb(168, 163, 163, 0.75);
	background: radial-gradient(circle, #a7a2a2 0%, #0d0f11 100%);
}

/* .header-container .background-img {
	position: absolute;
	width: 100%;
	height: 100%;
}

.background-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin-bottom: 2rem;
} */
.header-container header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 12%;
}

header .img-netflix-container {
	margin-left: 4.5rem;
}

header .navbar-right {
	margin-right: 7rem;
}

.header-container .img-netflix-container img {
	width: 18rem;
	height: 10rem;
}

/* .header-container .gradient {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom, #444, #ddd);
	z-index: 0;
} */

/* ---- navbar right ---- */
.header-container .navbar-right {
	display: flex;
	align-items: center;
}

.navbar-right input {
	width: 11rem;
	height: 3.5rem;
	outline: none;
	color: #fff;
	/* font-family: var(--font); */
	border: 1px solid #fff;
	background-color: #000;
	border-radius: 0.5rem;
}

.navbar-right input::placeholder {
	color: #fff;
}
.navbar-right .login {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 14rem;
	height: 3.5rem;
	border-radius: 0.5rem;
	background-color: #f00;
	font-size: 1.6rem;
	/* font-family: var(--font); */
	margin-left: 2rem;
}

.login a {
	text-decoration: none;
	color: #fff;
}

/* ---- Principal content */

.header-container .principal-content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 88%;
	width: 100%;
	/* border: 1px solid #36c; */
	color: #fff;
	/* font-family: var(--font); */
	z-index: 2;
}

.main-info {
	display: flex;
	flex-direction: column;
	width: 80rem;
}

.main-info p {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.main-info p .text-bigger {
	font-size: 6.3rem;
	font-weight: bold;
}

.main-info p .text-medium {
	margin-top: 2rem;
	font-size: 2.6rem;
}

.main-info p span:last-child {
	letter-spacing: 0.3px;
	font-size: 1.7rem;
	margin-top: 3.5rem;
}

/* ---- main input ---- */
.main-info .main-input {
	display: flex;
	justify-content: center;
	height: 7rem;
	margin-top: 2rem;
}

.main-input input {
	width: 50rem;
	outline: none;
	font-size: 2rem;
	border: none;
	border-radius: 0.6rem 0 0 0.6rem;
}

.main-input input::placeholder {
	font-size: 1.6rem;
}

.main-input .comenzar {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #d21;
	color: #fff;
	width: 23rem;
	cursor: pointer;
	border-radius: 0 0.6rem 0.6rem 0;
	transition: background-color 0.5s;
}

.main-input .comenzar:hover {
	background-color: #f00;
}

.comenzar span {
	font-size: 3rem;
}

.comenzar img {
	margin-left: 1rem;
	width: 3rem;
	height: 3rem;
}

/* ------------ MAIN CONTENT ----------------- */

.main-container {
	display: flex;
	flex-direction: column;
	color: #fff;
}

.main-container .slides {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 48rem;
	width: 100%;
	border-bottom: var(--size-line) solid var(--color-line);
}

.slides .text-tv-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 42rem;
	width: 60rem;
	margin-right: 1rem;
}

.text-tv-container h1,
.text-download h1,
.text-enjoy h1,
.text-boys h1 {
	font-size: var(--font-size-h1);
	margin-bottom: 1.5rem;
}

.text-tv-container p,
.text-download p,
.text-enjoy p,
.text-boys p {
	font-size: var(--font-size-p);
}

.slides .img-tv-container {
	display: flex;
	align-items: center;
	height: 44rem;
	width: 53rem;
	position: relative;
}

.slides .img-tv-container img {
	width: 100%;
	position: absolute;
}

/* ---- Slide two ------ */
.slides .text-download {
	display: flex;
	flex-direction: column;
	width: 55rem;
}
.slides .img-stranger-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50rem;
	height: 40rem;
	margin-right: 20rem;
	position: relative;
}

.img-stranger-container img {
	width: 100%;
}

.img-stranger-container .download-stranger-things {
	display: flex;
	align-items: center;
	width: 32.5rem;
	height: 10rem;
	background-color: #000;
	border: 2px solid var(--color-line);
	border-radius: 1.2rem;
	position: absolute;
	bottom: 4.5rem;
}

.download-stranger-things div:first-child {
	width: 5.5rem;
	margin-left: 1.2rem;
}

.download-stranger-things div:first-child img {
	width: 100%;
}

.download-stranger-things div:nth-child(2) {
	font-size: 1.6rem;
	font-weight: bold;
	margin-left: 1.6rem;
}

.download-stranger-things::after {
	background-image: url("https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif");
	content: "";
	width: 4.5rem;
	height: 4.5rem;
	margin-left: 6rem;
	background-size: 100%;
}

/* ---- Slide three ---- */
.slides .text-enjoy {
	width: 60rem;
}

.slides .img-crespo-container {
	display: flex;
	justify-content: center;
	width: 55rem;
	height: 40rem;
	position: relative;
}

.img-crespo-container img {
	width: 100%;
	position: absolute;
}

.img-crespo-container video {
	width: 35rem;
	margin-bottom: 12rem;
}

/* ---- Slides four ----- */

.slides .text-boys {
	width: 58rem;
}

.slides .img-kids-container {
	width: 50rem;
	margin-right: 4rem;
}

.slides .img-kids-container img {
	width: 100%;
}

/* --------------- QUESTIONS CONTAINER -------------- */
.questions-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

.questions-container section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.questions-container section h1 {
	color: #fff;
	font-size: var(--font-size-h1);
	margin-bottom: 4rem;
}

.questions-container section .questions-list {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: #fff;
	width: 82rem;
	height: 52rem;
}

.questions-list div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: #333;
	height: 7.5rem;
}

.questions-list div span {
	margin-left: 4rem;
	font-size: 2.8rem;
}

.questions-list div div {
	width: 3rem;
	height: inherit;
	margin-right: 4rem;
}

.questions-list div div img {
	width: 100%;
}

.text-before-input2 {
	color: #fff;
	font-size: 1.8rem;
	letter-spacing: 1px;
	margin-top: 5rem;
}

section .main-input {
	display: flex;
	justify-content: center;
	height: 7rem;
	margin-top: 2rem;
}

/* -------------- FOOTER --------------- */
.footer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 45vh;
	border-top: var(--size-line) solid var(--color-line);
}

.footer-container .main-content-footer {
	width: 50%;
	height: 80%;
}

.main-content-footer .call-phone {
	margin-top: 2.5rem;
	margin-left: 2.5rem;
}

.call-phone span {
	color: #757575;
	font-size: 1.6rem;
}

.call-phone span a {
	text-decoration: none;
	color: #757575;
}

.call-phone span a:hover {
	text-decoration: underline;
}

.main-content-footer .related-links {
	margin-top: 2rem;
	display: flex;
	width: 100%;
}

.related-links .group {
	display: flex;
	margin-left: 2rem;
	flex-direction: column;
	height: 18rem;
	/* background-color: #222; */
}

.related-links .group-two {
	margin-left: 3.5rem;
}

.related-links .group-three {
	margin-left: 11.5rem;
}

.related-links .group-four {
	margin-left: 5.5rem;
}

.group a {
	margin: 0.8rem;
	font-size: 1.3rem;
	text-decoration: none;
	color: #757575;
}
.group a:hover {
	text-decoration: underline;
}

.main-content-footer input {
	width: 14rem;
	height: 5.2rem;
	outline: none;
	color: #fff;
	border: 1px solid #333;
	background-color: #000;
	border-radius: 0.3rem;
	cursor: pointer;
	margin-left: 2.5rem;
}

.main-content-footer input::placeholder {
	color: #fff;
}

.netflix-peru {
	margin-top: 3rem;
	color: #757575;
	font-size: 1.3rem;
	margin-left: 2.5rem;
}
