/* -- General Settings -- */
* {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
}

html {
	font-size: 62.5%; /* Equivalente a 10px*/
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	font-size: 1.6rem;
}

/* ----------------- HEADER ------------------- */
header {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 65vh;
	border-bottom: 1px solid #c8ccd1;
}

/* ---- Logo wikipedia ---- */
.main-content-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 55rem;
	/* border: 1px solid #48e; */
}

.logo-wikipedia {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 17rem;
	margin-top: 5.5rem;
}

.logo-wikipedia span {
	margin: 1rem 0;
	font-family: "Times New Roman", Times, serif;
}

.logo-wikipedia img {
	width: 100%;
}

/* ---- image wikipedia world */
.img-wikipedia {
	display: flex;
	width: inherit;
	position: relative;
	justify-content: center;
}

.img-wikipedia img {
	align-self: center;
	position: absolute;
	/* width: 100%;
	height: 40rem; */
}

/* ---- languages ---- */
.languages {
	display: flex;
	flex-direction: column;
	width: 100%;
	z-index: 2;
}

.languages .bloque {
	display: flex;
	justify-content: space-between;
	margin: 0.5rem 0;
}

.languages .bloque p {
	display: flex;
	z-index: 2;
	flex-direction: column;
	width: 15.6rem;
	height: 5.5rem;
	align-items: center;
	align-content: space-around;
	justify-content: center;
}

.languages .bloque p:hover {
	background-color: #eaecf0;
	border-radius: 0.6rem;
	cursor: pointer;
}

.languages .bloque p a:hover {
	text-decoration: underline;
}

/* ---- español - ingles ----- */
.languages .es,
.languages .pt {
	margin-left: 6rem;
}

.languages .en,
.languages .po {
	margin-right: 7.5rem;
}

/* ---- rusia - china */
.languages .jp,
.languages .ru {
	margin-left: 0.6rem;
}

.languages .ch,
.languages .it {
	margin-right: 1.2rem;
}

.languages p a {
	color: #36c;
	font-weight: bold;
	text-decoration: none;
}

.languages p span {
	font-size: 1.3rem;
	color: #54595d;
	margin-top: 0.5rem;
}

/* ---- main input ---- */

.main-input-container {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 4.5rem;
	margin: 2rem 0;
	z-index: 2;
}

.main-input {
	display: flex;
	align-items: center;
	width: 80%;
	border: 1px solid #a2a9b1;
}

.main-input-container .main-input input {
	height: 100%;
	outline: none;
	border: none;
	flex: 1;
	margin-left: 1rem;
	font-size: 2rem;
}

/* .main-input:focus {
	outline: 1px solid #36c;
} */

.main-input a {
	font-size: 1.2rem;
	text-decoration: none;
}

.main-input .icon-arrow-down,
.main-input .icon-search,
.read-languages .icon-arrow-down,
.read-languages .icon-languages {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.main-input .icon-arrow-down,
.read-languages .icon-arrow-down {
	background-image: url("https://cdn.iconscout.com/icon/free/png-256/down-arrow-16-460295.png");
	width: 2rem;
	height: 2rem;
}

.main-input .icon-search {
	width: 5.5rem;
	height: 4.5rem;
	background-color: #36c;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.5s;
	margin-left: 1.5rem;
}

.main-input .icon-search:hover {
	cursor: pointer;
	background-color: #6091f1;
}

.main-input .icon-search img {
	width: 2rem;
	height: 2rem;
}

/* ---- last part header ---- */
.last-part-header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 3rem;
	margin-top: 1.5rem;
}

.last-part-header .lines-separator {
	width: 8rem;
	height: 1px;
	background-color: #c8ccd1;
}

.last-part-header .read-languages {
	display: flex;
	justify-content: space-evenly;
	border: 1px solid #a2a9b1;
	background-color: #f8f9fa;
	height: inherit;
	width: 26rem;
	padding: 1.7rem 0;
	align-items: center;
	margin: 0 2rem;
	cursor: pointer;
	border-radius: 0.3rem;
}

.read-languages span {
	color: #36c;
	font-size: 1.4rem;
	font-weight: bold;
}
.read-languages .icon-languages {
	background-image: url("https://user-images.githubusercontent.com/18658299/29040017-d3563bb0-7bad-11e7-99e6-7702e6e1e76c.png");
	width: 2rem;
	height: 2rem;
}

/* ---------------- MAIN ------------------ */
main {
	width: 100%;
	height: 46.2vh;
	border-bottom: 1px solid #c8ccd1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-container {
	width: 100%;
	height: 100%;
	display: flex;
}

.main-container img {
	width: 4.5rem;
	height: 4.5rem;
	margin: 0 1rem;
}

.main-container p {
	color: #54595d;
}

/* ---- left ---- */
.main-container .main-content-left {
	width: 35vw;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-content-left .main-block {
	width: 35rem;
	font-size: 1.4rem;
}

.up-block p a {
	color: #36c;
	text-decoration: none;
}
.up-block p a:hover {
	text-decoration: underline;
}

.main-content-left .up-block,
.main-content-left .down-block {
	display: flex;
	height: 13rem;
}

.main-content-left .down-block {
	height: 20rem;
	margin-top: 2rem;
	background-color: #f8f9fa;
}

.down-block img {
	margin-top: 1rem;
}

.down-block h1 {
	margin-top: 1rem;
	font-size: 1.3rem;
	margin-bottom: 1rem;
}

.download {
	display: flex;
	width: 100%;
	margin-top: 1rem;
}

.download img {
	width: 12rem;
	height: 4rem;
	margin-left: 0;
	cursor: pointer;
}

/* ---- rigth ---- */
.main-container .main-content-right {
	width: 65vw;
	height: 100%;
}

.main-content-right .main-block-right {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
}

.main-block-right .section {
	/* border: 1px solid #36c; */
	width: 39rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-right: 1rem;
}

.main-block-right .section div {
	/* border: 1px solid #36c; */
	margin: 1rem;
	display: flex;
	height: 7.5rem;
	padding-top: 1.5rem;
	border-radius: 0.3rem;
}
.main-block-right .section div:hover {
	background-color: #eaecf0;
	cursor: pointer;
}

.section div p {
	font-size: 1.4rem;
	display: flex;
	flex-direction: column;
}

.section div p span:first-child {
	color: #36c;
}

.section div p span:last-child {
	color: #54595d;
}
/* ------------------ FOOTER ------------------ */
footer {
	width: 100%;
	height: 5.5vh;
}

.main-content-footer {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-content-footer p {
	font-size: 1.3rem;
	color: #54595d;
}

.main-content-footer p a {
	color: #36c;
	text-decoration: none;
}

.main-content-footer p .license::after,
.main-content-footer p .terminos::after {
	content: "\2022";
	color: #54595d;
	display: inline-block;
	margin: 0 0.7rem;
}

.main-content-footer p a:hover {
	text-decoration: underline;
}
