/* -- General Settings -- */
* {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
}

html {
	font-size: 62.5%; /* Equivalente a 10px*/
}

body {
	background-color: #333;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* -------------- HEADER ------------- */
.head-container {
	width: 100%;
	height: 7vh;
}

.head-container .menu-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 1.2rem;
	height: inherit;
}

.menu {
	display: flex;
	margin-right: 2rem;
	align-items: center;
	list-style-type: none;
}

.menu .menu__item {
	margin: 0 1rem;
}

.menu .menu-icon {
	background-image: url("https://cdn2.iconfinder.com/data/icons/picons-basic-2/57/basic2-068_grid_view-512.png");
	background-position: center;
	background-repeat: no-repeat;
	width: 2.5rem;
	height: 2.5rem;
	background-size: contain;
}

.menu .menu-icon:hover {
	cursor: pointer;
}
.menu-container .menu img {
	border-radius: 50%;
}

.menu a {
	text-decoration: none;
	color: #fff;
}

.menu a:hover {
	text-decoration: underline;
}

/* ------------- MAIN -------------- */
.main-container {
	width: 100%;
	height: 83vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.main-content {
	display: flex;
	flex-direction: column;
	width: 58rem;
	height: 40rem;
}

.img-google {
	width: 100%;
	text-align: center;
	margin-bottom: 2rem;
}

/* ---- main search ---- */
.main-content .main-search {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 4.5rem;
	border-radius: 3rem;
	border: 1px solid #777;
}

.main-content .main-search:hover {
	box-shadow: 0 0.1rem 0.6rem #999;
}

.main-search .search-icon,
.main-search .micro-icon {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 5rem;
	height: 1.8rem;
}

.main-search .search-icon {
	background-image: url("https://cdn0.iconfinder.com/data/icons/google-material-design-3-0/48/ic_search_48px-512.png");
	opacity: 0.4;
}

.main-search .micro-icon {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png");
	cursor: pointer;
}

#search {
	flex: 1;
	background-color: #333;
	width: 80%;
	height: 4rem;
	outline: none; /* Quitar el borde al dar click */
	border: none;
}

#search:focus {
	font-size: 1.6rem;
	color: #fff;
}

/* ---- buttons ---- */
.hypertext {
	display: flex;
	height: 4rem;
	font-size: 1.4rem;
	justify-content: center;
	margin: 3rem 0 1rem;
}

.hypertext button {
	margin: 0 1rem;
	color: #fff;
	border: none;
	background-color: #444;
	border-radius: 0.6rem;
}

.hypertext button:hover {
	cursor: pointer;
	border: #aaa solid 0.1rem;
}

.hypertext button:first-child {
	width: 15rem;
}

.hypertext button:last-child {
	width: 17rem;
}

.languages-container {
	display: flex;
	height: 3.5rem;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}
.languages {
	font-size: 1.2rem;
}

.languages a {
	color: #8ab4f8;
	text-decoration: none;
	margin: 0 0.2rem;
}

.languages a:hover {
	text-decoration: underline;
}
/* --------------- FOOTER --------------- */
.footer-container {
	background-color: #222;
	height: 10vh;
	width: 100%;
}

.country {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #333;
	height: 50%;
	width: 100%;
}
.peru {
	color: #aaa;
	margin-left: 3rem;
	font-size: 1.4rem;
}
.ref-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 2rem;
	height: 50%;
}

.left {
	display: flex;
	justify-content: flex-start;
	width: 50%;
}
.left a,
.right a {
	margin: 0 1.5rem;
	text-decoration: none;
	color: #aaa;
	font-size: 1.3rem;
}

.left a:hover,
.right a:hover {
	text-decoration: underline;
}

.right {
	width: 50%;
	display: flex;
	margin-right: 2rem;
	justify-content: flex-end;
}
